.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.mainContent {
  flex: 1;
  margin-left: 260px;
  min-height: 100vh;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
  }
}

